footer{

  height:60px;

  display:flex;

  justify-content:center;

  align-items:center;

  color:#E2E8F0;

  font-size:14px;

  background:rgba(15,23,42,.35);

  backdrop-filter:blur(24px);

  -webkit-backdrop-filter:blur(24px);

  border-top:1px solid rgba(255,255,255,.08);

  box-shadow:0 -10px 30px rgba(0,0,0,.35);

  flex-shrink:0;

}