footer{

//  height:60px;

  display:flex;

  justify-content:center;

  align-items:center;

  color:#E2E8F0;

  font-size:14px;

 // background:rgb(11 14 55 / 75%);

  //backdrop-filter:blur(0px);

  //-webkit-backdrop-filter:blur(0px);

  //border-top:1px solid rgba(255,255,255,.08);

 // box-shadow:0 -10px 30px rgba(0,0,0,.35);

  flex-shrink:0;

}