:host{

    display:block;

}

/* ==========================================
HEADER
========================================== */

.header{

    height:64px;

    padding:0 20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:14px;

   // background:rgb(11 14 55 / 75%);

    backdrop-filter:blur(0px);

    -webkit-backdrop-filter:blur(0px);

    //border-bottom:1px solid rgba(255,255,255,.08);

    flex-shrink:0;

}

/* ==========================================
SEARCH
========================================== */

.search-box{

    flex:1;

    min-width:220px;

    max-width:620px;

    height:40px;

    display:flex;

    align-items:center;

    gap:12px;

    padding:0 18px;

    border-radius:12px;

    background:rgba(255,255,255,.06);

}

.search-box mat-icon{

    color:#94A3B8;

}

.search-box input{

    flex:1;

    min-width:0;

    border:none;

    outline:none;

    background:none;

    color:white;

    font-size:13px;

}

.search-box input::placeholder{

    color:#94A3B8;

}

/* ==========================================
RIGHT
========================================== */

.header-actions{

    display:flex;

    align-items:center;

    gap:10px;

}

.icon-btn{

    width:38px !important;

    height:38px !important;

    border-radius:50% !important;

    background:rgba(255,255,255,.05);

}

.icon-btn mat-icon{

    color:white;

}

.profile img{

    width:36px;

    height:36px;

    border-radius:50%;

    object-fit:cover;

}

/* ==========================================
RESPONSIVE
========================================== */

@media(max-width:768px){

    .header{

        padding:0 16px;

    }

    .search-box{

        min-width:150px;

        max-width:none;

    }

}

@media(max-width:560px){

    .search-box{

        display:none;

    }

}