<div class="stats-grid">

    @for (stat of stats; track stat.title) {

        <div class="stat-card">

            <div class="stat-top">

                <div
                    class="icon"
                    [style.background]="stat.color">

                    <mat-icon>

                        {{ stat.icon }}

                    </mat-icon>

                </div>

                <div class="stat-content">

                    <div class="stat-title">

                        {{ stat.title }}

                    </div>

                    <div class="stat-value">

                        {{ stat.value }}

                    </div>

                </div>

            </div>

            <div class="stat-footer">

                <div
                    class="trend"
                    [class.up]="stat.trend === 'up'"
                    [class.down]="stat.trend === 'down'">

                    <mat-icon>

                        {{ stat.trend === 'up'
                        ? 'north'
                        : 'south' }}

                    </mat-icon>

                    {{ stat.change }}%

                </div>

                <span>

                    from last year

                </span>

            </div>

        </div>

    }

</div>